* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background: url("../assets/main-bg.jpg") 50% #f1d4ab;
}

.app {
  height: 100%;
}

.board {
  display: flex;
  flex-flow: row nowrap;
  min-height: 60%;
}

.deck-container {
  position: relative;
  opacity: 1;
  width: 407px;
  top: auto;
  right: auto;
  z-index: 5;
  min-height: 570px;
  background: url("../assets/deck-bg.png") center top / cover no-repeat;
  border-radius: 25px;
  transition: all 0.15s ease-out 0s;
  transform: translate3d(0px, 40px, 0px);
  display: block;
}

.deck-container:hover {
  box-shadow: 0 0 30px #5472c7;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.deck-header {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 34.975%;
  background: url("../assets/deck-header.png") center top / cover no-repeat;
}

.deck-list {
  width: 100%;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  background: url("../assets/deck-list-scrollbar.png") center center / 100%
    repeat-y;
  overflow: hidden;
  padding: 0 30px;
}

.deck-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 0;
  z-index: 201;
  position: absolute;
  bottom: 0;
  font-size: 16px !important;
  padding: 110px 30px 0;
  background: url("../assets/deck-footer.png") center bottom / 100% 110px
    no-repeat;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  max-width: calc(95% - 370px);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.next-arrow {
  position: absolute;
}

.prev-arrow {
  position: absolute;
}

.tile-wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}

.card {
  cursor: pointer;
}

.mana-cost {
  background-image: url("../assets/cost-mana.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.card__title {
  display: inline;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.card__counter {
  display: none;
  background-color: rgb(51, 51, 68);
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: darkgoldenrod;
  -webkit-text-stroke: 1px rgb(43, 27, 13);
  border-radius: 10px;
}

.inline {
  display: inline-block !important;
}

.tile {
  flex-grow: 1;
  border-radius: 10px;
}

.caps {
  color: rgba(0, 0, 0, 0.7);
  float: left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position: relative;
  top: 8px;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

a.arrow {
  background-image: url("../assets/arrows.png");
  position: absolute;
  height: 34px;
  width: 38px;
  top: 50%;
  margin-top: -17px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.15s, opacity, linear;
  -moz-transition: 0.15s, opacity, linear;
  transition: 0.15s, opacity, linear;
}

a.arrow:hover {
  opacity: 1;
}

a.back-arrow {
  left: 5px;
}

a.forward-arrow {
  right: 5px;
  background-position: -38px 0;
}
